services:
  n8n:
    image: n8nio/n8n:latest
    restart: unless-stopped
    ports:
      - "5678:5678"
    environment:
      - TZ=Asia/Vientiane
      - N8N_PROXY_HOPS=1
      - N8N_PORT=5678
      - N8N_PROTOCOL=https
      - WEBHOOK_URL=${WEBHOOK_URL}
      - N8N_EDITOR_BASE_URL=${N8N_EDITOR_BASE_URL}
      - N8N_SKIP_WEBHOOK_DEREGISTRATION_ON_VARS_CHANGE=true
    volumes:
      - ./vols/n8n_data:/home/node/.n8n
    # depends_on:
    #   - ollama

  # ollama:
  #   image: ollama/ollama:latest
  #   restart: unless-stopped
  #   ports:
  #     - "11434:11434"
  #   volumes:
  #     - ./vols/ollama:/root/.ollama
  #   mem_limit: 8g
  #   mem_reservation: 7g
  #   cpus: 4.0
    # deploy:
    #   resources:
    #     reservations:
    #       devices:
    #         - driver: nvidia
    #           count: all
    #           capabilities: [gpu]

  ngrok:
    image: ngrok/ngrok:latest
    restart: unless-stopped
    depends_on:
      - n8n
    environment:
      - NGROK_AUTHTOKEN=${NGROK_AUTHTOKEN}
    command: ["http", "n8n:5678"]
    ports:
      - "4040:4040"

  mcp_server:
    build:
      context: ./mcp_server
      dockerfile: Dockerfile
    restart: unless-stopped
    environment:
      - GSHEETS_DEFAULT_SPREADSHEET_ID=${GSHEETS_DEFAULT_SPREADSHEET_ID}
    volumes:
      - ./mcp_server/service-account.json:/app/service-account.json:ro
    ports:
      - "3001:3001"


